.about {
    padding: 135px 0;
}

.about__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #353535;
}
.about__text:nth-child(1) {
    margin-bottom: 16px;
}
.about__text span {
    font-weight: 500;
}

@media (min-width: 768px) {
    .about {
        padding: 160px 0 127px 0;
    }
    .about__inner {
        padding: 0 18px;
    }
    .about__text {
        font-size: 18px;
        line-height: 25px;
    }
    .about__text:nth-child(1) {
        margin-bottom: 25px;
    }
}
@media (min-width: 1440px) {
    .about {
        padding: 115px 0;
    }
    .about__inner {
        padding: 0 65px;
    }
    .about__text {
        font-size: 20px;
        line-height: 28px;
    }
}