.form {
    background-color: #f2f2f2;
    padding: 60px 0;
}

.form__title {
    color: #353535;
    text-align: center;
    font-size: 19px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 6px;
}
.form__text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #818181;
    text-align: center;
    margin-bottom: 30px;
}
.form__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__phone {
    margin-bottom: 15px;
}
.form__name {
    margin-bottom: 30px;
}
.form__phone,
.form__name{
    width: 250px;
    padding: 20px 63px 20px 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.form__phone::placeholder,
.form__name::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #818181;
}

.form__btn {
    color: #3284FF;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    border-bottom: 1px solid #3284FF;
    cursor: pointer;
}

@media (min-width: 768px) {
    .form {
        padding: 36px 0 34px 0;
    }
    .form__items {
        flex-direction: row;
        justify-content: space-around;
    }
    .form__phone,
    .form__name {
        margin-bottom: 0;
    }
    .form__text {
        margin-bottom: 24px;
    }
}

@media (min-width: 1440px) {
    .form {
        background-color: transparent;
        padding: 0;
        margin-top: -65px;
    }
    .form__content {
        display: flex;
        max-width: 1119px;
        gap: 0 150px;
    }
    .form__container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px 80px;
        width: 1280px;
    }
    .form__items {
        gap: 0 20px;
    }
    .form__title {
        text-align: left;
    }
    .form__text {
        text-align: left;
        margin-bottom: 0;
    }
    .form__btn {
        margin-left: 20px;
    }
}